.app-header {
  background: #343434;
  color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}

.header-left img {
  height: 30px;
  margin-right: 1rem;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.post-sorting {
  display: inline-block;
  background: #777777;
  padding: .3rem .5rem;
  box-sizing: border-box;
  border-radius: .5rem;
}
